<!DOCTYPE html>
<html>
//= template/head.html

	<body>

	<div class="wrapper">

		//= template/header.html

		<main class="content">

			<div id="size-module" class="size-module">

				<calc v-if="uploader == false" @show-uploader="showComponent"></calc>
				<uploader v-else=""></uploader>

			</div>


			<!--COMPONENTS-->
			<script type="text/x-template" id="size-calc-template">
				<div class="size-calc">
					<div class="size-form">
						<transition name="fade" mode="out-in" appear
									enter-active-class="animated bounceInDown"
									leave-active-class="animated zoomOut"
						>
							<div class="title-main">
								<h2>START YOUR ORDER</h2>
							</div>
						</transition>
						<form action="#" method="post">
							<transition name="fade" mode="out-in" appear
										enter-active-class="animated bounceInRight"
										leave-active-class="animated zoomOut"
							>
								<div class="size-product">
									<label><span>Select Product</span>
										<multiselect
												v-model="valueProduct"
												value="valueProduct"
												:options="productData"
												:multiple="false"
												:searchable="false"
												label="product"
												selectLabel=""
												deselectLabel=""
												selectedLabel=""
												@input="changeProduct.prevent"
										>
										</multiselect>
									</label>
								</div>
							</transition>
							<transition name="fade" mode="out-in" appear
										enter-active-class="animated zoomIn"
										leave-active-class="animated zoomOut"
							>
								<div class="size-standart">
									<div class="size-standart-item" v-for="(standartItem,index) in standartData" :key="index">
										<label>
											<input type="radio" name="size" :value="index" @click="computedValue($event)" :data-old="standartItem.oldPrice" :data-new="standartItem.newPrice" v-model="standartChecked">
											<span>{{standartItem.sizeH}}"x{{standartItem.sizeW}}"</span>
										</label>
										<div class="size-item-price">
											<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
											<span class="size-item-price__old">{{standartItem.oldPrice}}</span>
											<p class="size-item-price__new">{{standartItem.newPrice}}</p>
										</div>
									</div>
								</div>
							</transition>

							<transition name="fade" mode="out-in" appear
										enter-active-class="animated zoomIn"
										leave-active-class="animated zoomOut"
							>
								<div class="size-custom">
									<label>
										<input type="radio" name="size" :checked="customSelected">
										<span>Custom Size (H X W)</span>
									</label>
									<multiselect
											v-model="valueL"
											:value="valueL"
											:options="range(minSize,maxSize)"
											:multiple="false"
											:searchable="false"
											:custom-label="customLabel"
											selectLabel=""
											deselectLabel=""
											selectedLabel=""
											@input="onChange"
									>
									</multiselect>
									X
									<multiselect
											v-model="valueR"
											:value="valueR"
											:options="range(minSize,maxSize)"
											:multiple="false"
											:searchable="false"
											:custom-label="customLabel"
											selectLabel=""
											deselectLabel=""
											selectedLabel=""
											@input="onChange"
									>
									</multiselect>
								</div>
							</transition>
							<transition name="fade" mode="out-in" appear
										enter-active-class="animated bounceInUp"
										leave-active-class="animated zoomOut"
							>
								<div class="size-result">
									<transition name="fade-out" mode="out-in" appear>
										<div class="size-price">
											<span class="size-item-price__old">{{priceOld}}</span>
											<p class="size-item-price__new">{{priceNew}}</p>
										</div>
									</transition>
									<button class="size-btn" type="submit" @click="showUploader($event)">Start order</button>
								</div>
							</transition>
						</form>
					</div>
				</div>
			</script>


			<script type="text/x-template" id="uploader-template">
				<div class="fridge">go</div>
			</script>

		</main><!-- .content -->

	</div><!-- .wrapper -->

	//= template/footer.html

	</body>
</html>